.link-none{
    text-decoration: none;
    color: inherit;
}
.color-green{
    color: #438f73;
}
.border-radius-10{
    border-radius: 10px
}
.mt-60{
    margin-top: 60px;
}
.h-150{
    height: 150px;
}
.fz-14{
    font-size: 14px;
}