//swiper
.swiper-button-prev:after,
.swiper-button-next:after {
    content: url(/src/images/icon/swiper-button.svg) !important;
}
.swiper-button-prev,
.swiper-button-next {
    top: 0;
}
.swiper-button-prev {
    transform: scaleX(-1);
    left: auto;
    right: 40px;
}
.swiper-button-next {
    right: 0;
}