//swiper
.swiper-button-prev:after,
.swiper-button-next:after {
    content: url(/src/images/icon/swiper-button.svg) !important;
}
.swiper-button-prev,
.swiper-button-next {
    top: 0;
}
.swiper-button-prev {
    transform: scaleX(-1);
    left: auto;
    right: 40px;
}
.swiper-button-next {
    right: 0;
}
.swiper-pagination-bullet{
    width: 20px !important;
    height: 4px !important;
    border-radius: 0px !important;
    opacity: 0.8 !important;
    background: #BAB8B8 !important;
    @media(max-width: 576px){
        display: none !important;
    }
}
.swiper-pagination-bullet-active {
    width: 40px !important;
    height: 4px !important;
    background: #1FBA82 !important;
}